// Specific CSS for your home-page

.filter-container {
  margin: 56px 15vw auto 15vw;
  display: flex;
  justify-content: space-between;
  height: 560px;
}

.filter-left {
  min-width: 640px;
}


// CSS for actors

#actor-input-field {
  margin-top: 16px;
  background: transparent;
  color: white;
  border: none;
  border-bottom-color: rgba(255, 255, 255, 0.33);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 90% !important;
  outline:none;
}


// CSS for directors

#director-input-field {
  margin-top: 16px;
  background: transparent;
  color: white;
  border: none;
  border-bottom-color: rgba(255, 255, 255, 0.33);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 90% !important;
  outline:none;
}


// CSS for genres

#genre-input-field {
  margin-top: 16px;
  background: transparent;
  color: white;
  border: none;
  border-bottom-color: rgba(255, 255, 255, 0.33);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 90% !important;
  outline:none;
}

.autocomplete-suggestions {
  width: auto;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
  .autocomplete-suggestion {
    color: white;
    margin: 12px auto !important;
  }
  .selected {
    background: none !important;
    cursor: pointer;
  }
}

.filter-search-field {
  position: relative;
}

.filter-toggle {
  margin-right: 8px;
}

.filter-actions {
  display: flex;
}

.move-to-active {
  margin-top: 16px;
  margin-right: 8px;
  position: absolute !important;
  top: -3px;
  width: 24px;
  height: 24px;
  border: none;
  background-size: cover !important;
}

.active-include {
  right: 86px;
  background: url("/confirm_action_colored.svg") !important;
  &:hover {
    background: url("/confirm_action_hover.svg") !important
  }
}

.active-exclude {
  right: 56px;
  background: url("/pass_action_colored.svg") !important;
  &:hover {
    background: url("/pass_action_hover.svg") !important
  }
}


.filter-right {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 16px;
  height: 100%;
  padding: 32px;
}

.active-filters {
  height: 100%;
}

.selection {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 48px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  p {
    margin: 0 !important;
    padding: 8px 16px;
  }
  .filter-remove {
    margin-right: 12px;
  }
}

.find-movies > .button-full {
  border: none;
  width: 100%;
}
