<div class="landing-intro">

  <div class="landing-left">
    <div class="landing-posters">
    </div>
  </div> <!-- landing-left closing div -->
  <div class="landing-right">
    <h1>
      Your personal movie butler
    </h1>
    <p>
      Tired of scrolling through pages of movies looking for the right one to watch? Food getting cold because you wasted too much time searching?
      <br><br>
      Whatch makes it easy to quickly discover new movies based on your preferences and history.
    </p>
    <br>
    <div class="get-started-button">
      <%= link_to "Get started", "/pages/home", class: "button-full" %>
    </div>
  </div> <!-- landing-right closing div -->
</div>

<div class="landing-overview">
  <div class="landing-container">
    <div class="landing-header">
      <h1>Discover a movie in seconds</h1>
      <p>
        Don't waste your evening trying to choose from "Top 100" lists. Set your preferences for actors, directors, or genres, and we'll do the hard work for you.
      </p>
    </div>
    <div class="landing-filter-buttons">
      <div class="landing-filter-button first-filter">Any actors</div>
      <div class="landing-filter-button second-filter">Any directors</div>
      <div class="landing-filter-button third-filter">Comedy</div>
    </div> <!-- close landing-filter-buttons-->
  </div> <!-- close landing-container div -->

  <div class="landing-discovery">
    <div class="landing-filtered-movies">
      <div class="landing-filtered-movie first-movie"></div>
      <div class="landing-filtered-movie second-movie"></div>
      <div class="landing-filtered-movie third-movie"></div>
      <div class="landing-filtered-movie fourth-movie"></div>
      <div class="landing-filtered-movie fifth-movie"></div>
      <div class="landing-filtered-movie sixth-movie"></div>
      <div class="landing-filtered-movie seventh-movie"></div>
      <div class="landing-filtered-movie eighth-movie"></div>
      <div class="landing-filtered-movie ninth-movie"></div>
    </div> <!-- close landing-filtered-movies -->
  </div> <!-- close landing-discovery -->
</div> <!-- close landing-overview div -->

<div class="landing-selecting">

  <div class="landing-container inverted"> <!-- first landing-container -->
    <div class="landing-header-inverted">
      <h1>Get watching quickly</h1>
      <p>
        We present the most popular movies from your search, one at a time. All you have to do is confirm when you find the right one.
      </p>
    </div>
  </div>
  <div class="landing-selecting-cards">
  </div>

  <div class="landing-container inverted-right">
    <div class="landing-header-inverted">
      <h1>Broaden your movie knowledge</h1>
      <p>
        Challenge your inner cinephile as you earn achievement badges based on your viewing.
      </p>
    </div>
    <div class="landing-badges">
      <div class="landing-badge-first"></div>
      <div class="landing-badge-second"></div>
      <div class="landing-badge-third"></div>
    </div>
  </div>

</div> <!-- close landing-selecting -->
