<div class="landing-container">

  <div class="landing-left">
    <div class="landing-posters">
    </div>
  </div> <!-- landing-left closing div -->
  <div class="landing-right">
    <h1>
      Your personal movie butler
    </h1>
    <p>
      Tired of scrolling through pages of movies looking for the right one to watch? Food getting cold because you wasted too much time searching?
      <br><br>
      Whatch makes it easy to quickly discover new movies based on your preferences and history.
    </p>
    <br>
    <div class="get-started-button">
      <%= link_to "Get started", "/pages/home", class: "button-full" %>
    </div>
  </div> <!-- landing-right closing div -->
</div>
