<div class="landing-container">

  <div class="landing-left">
    <div class="landing-posters">
    </div>
  </div> <!-- landing-left closing div -->
  <div class="landing-right">
    <h1>
      Your personal movie butler
    </h1>
    <p>
      Tired of scrolling through pages of movies looking for the right one to watch? Food getting cold because you wasted too much time searching?
      <br><br>
      Whatch makes it easy to quickly discover new movies based on your preferences and history.
    </p>
    <br>
    <div class="get-started-button">
      <%= link_to "Get started", "/pages/home", class: "button-full" %>
    </div>
  </div> <!-- landing-right closing div -->
</div>

<div class="landing-overview">
  <div class="landing-overview-top">
    <div class="landing-overview-header">
      <h1>Discover a movie in seconds</h1>
      <p>
        Don't waste your evening trying to choose from "Top 100" lists. Set your preferences for actors, directors, or genres, and we'll do the hard work for you.
      </p>
    </div> <!-- close landing-overview-header div-->
    <div class="landing-filter-buttons">
      <div class="landing-filter-button first-filter">Any actors</div>
      <div class="landing-filter-button second-filter">Any directors</div>
      <div class="landing-filter-button third-filter">Comedy</div>
    </div> <!-- close landing-filter-buttons-->
  </div> <!-- close landing-overview-top div -->

  <div class="landing-overview-discovery">
    <div class="landing-filtered-movies">
      <div class="landing-filtered-movie first-movie"></div>
      <div class="landing-filtered-movie second-movie"></div>
      <div class="landing-filtered-movie third-movie"></div>
      <div class="landing-filtered-movie fourth-movie"></div>
      <div class="landing-filtered-movie fifth-movie"></div>
      <div class="landing-filtered-movie sixth-movie"></div>
      <div class="landing-filtered-movie seventh-movie"></div>
      <div class="landing-filtered-movie eighth-movie"></div>
      <div class="landing-filtered-movie ninth-movie"></div>
    </div> <!-- close landing-filtered-movies -->
  </div> <!-- close landing-overview-discovery -->




</div> <!-- close landing-overview div -->
