// .background-gradient {
//   background: linear-gradient(125.91deg, #021622 12.56%, #183A37 92.62%);
//   // position: fixed;
// }

body {
  background: linear-gradient(125.91deg, #021622 12.56%, #183A37 92.62%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: calc(100vh - 16px);
  padding-bottom: 6rem;
}

