.button-full { // button with full background
  padding: 8px 24px;
  color: white;
  background: $cyan;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.button-empty { // empty background and coloured border
  padding: 8px 24px;
  color: $cyan;
  border: 1px solid $cyan;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  &:hover {
    text-decoration: none;
    color: $cyan;
  }
}
