.main-achievements-container {
  width: 70%;
  margin: 64px auto;
  h1 {
    margin-bottom: 64px;
  }
}

.achievements-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-container {
  width: 70%;
  margin: 100px auto;
}

.profile-container {
  width: 70%;
  margin: 100px auto;
}

.cards-container{
  margin-top: 64px;
}

.delete-account-container {
  margin: 32px 0;
}

.scroll {
  background: rgba(0, 0, 0, 0);
  height: 720px;
  border-radius: 16px;
  overflow-x: auto;
  &::-webkit-scrollbar {
  display: none;
  }
}

.hidden {
  display: none;
}

#transparent-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  top: 0;
}

iframe {
  height: 500px;
  width: 1000px;
  border-radius: 16px;
  border-color: rgba(0, 0, 0, 0.3);
}

.modal-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-x {
  position: relative;
}


#modal {
  height: 500px;
  width: 1000px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 32px;
    color: $cyan;
  }
}

