// N.b. Exept for the first selector (.form-container) - that is a class made by me -
// all the other classes are implicit in the simple_form: in order to see them inspect
// the page on the browser

// N.b. 2) from line 31 to line 43:
// this code prevent to chrome to change background color
// of the form fields of email and current pwd


.form-container {
  h1 {
    margin-bottom: 32px;
  }
}

//***Simple-form classes***************************

.simple_form {
  text-transform: uppercase;
  //font-variant: small-caps;
  font-weight: bold;
  label {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: white;
    opacity: 0.25;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-webkit-autofill:valid,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus
  {
      -webkit-transition-delay: 99999s;
      -webkit-text-fill-color:white;
      transition: background-color 5000s ease-in-out 0s;
  }
}

.form-control { // These are the fields and their labels
  width: 40%;
  background: #606f75;
  color: white;
  border-radius: 8px;
  border: none;
  &:focus {
      background: #606f75;
      color: white;
  }
}



.form-group { //This is the div that contains the single field with his label
  margin: 32px 0;
}

.form-actions { // These are the buttons
  margin-top: 8px;
  margin-bottom: 24px;
}

//***************************************************
