.simple_form {
  // text-transform: uppercase;
  font-variant: small-caps;
  color: #a3a3a3;
  input {
    background: #606f75;
    color: white;
    border-radius: 8px;
    border: none;
  }
}

.form-control {
  width: 40%;
}

