.history-change-rating-action img:hover {
  opacity: 1;
}

.history-change-rating-action img {
  opacity: 0.2;
  transition: 0.3s;
}

.history-remove-action img:hover {
  opacity: 1;
}

.history-remove-action img {
  opacity: 0.2;
  transition: 0.3s;
}

.whatch-badge-icon-like {
  background: url("/assets/icons/liked_hover.svg");
  background-repeat: no-repeat;
}

.whatch-badge-icon-dislike {
  background: url("/assets/icons/disliked_hover.svg");
  background-repeat: no-repeat;
}
.whatch-badge-icon-empty {
  border-color: transparent;
}
