.history-change-rating-action img {
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 50%;
}
.history-change-rating-action img:hover {
  opacity: 1;
  // box-shadow: 0px 0px 10px #f8f8f8;
  // #38b6ff;
  transform: scale(1.2);
}

.history-remove-action img {
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 50%;
}

.history-remove-action img:hover {
  opacity: 1;
  // box-shadow: 0px 0px 10px #fff;
  transform: scale(1.2);
}


.whatch-badge-icon-like {
  background: url("/assets/icons/liked_hover.svg");
  background-repeat: no-repeat;
}

.whatch-badge-icon-dislike {
  background: url("/assets/icons/disliked_hover.svg");
  background-repeat: no-repeat;
}
.whatch-badge-icon-empty {
  border-color: transparent;
}
