.movie-poster-small {
  // margin-left: 10px;
  // margin-right: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  h3 {
    color: white;
    padding-top: 64px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
}

.movie-poster-placeholder {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: $light-gray;
  background-color: $gray;

}

.badge-icon {
  width: 20px;
  height: 20px;
  // border-radius: 50%;
  // border-color: rgba(0,0,0, 0.5);
  // border-style: solid;
  // border-width: medium;
  position: absolute;
  top: 32px;
  left: 233px;
}

.badge-icon-index {
  width: 20px;
  height: 20px;
  // border-radius: 50%;
  // border-color: rgba(0,0,0, 0.5);
  // border-style: solid;
  // border-width: medium;
  position: absolute;
  top: 36px;
  left: 240px;
}

.thumbs-up-badge {
  position: relative;
}
.small-rating-badge > div {
position: absolute;
  z-index: 10;
  top: -4px;
  left: 240px;
  animation: roll-in-left 0.2s ease-out both;
  }



@keyframes roll-in-left {
  0% {
            // -webkit-transform: translateX(-250px) rotate(-540deg) scale(0.5);
            // transform: translateX(-250px) rotate(-540deg) scale(0.5);
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
            // -webkit-transform: translateX(0) rotate(0deg) scale(1.5);
            // transform: translateX(0) rotate(0deg) scale(1.5);
    opacity: 1;
    transform: scale(1.5);
  }
}

.movie-poster-container {

}

.history-container {
  padding: 36px 12vw;
}

.movie-poster-image {
  height: 300px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.movie-card-opacity-animation {
  // animation: slit-in-vertical 0.2s ease-out both;
}


@keyframes slit-in-vertical {
  0% {
            // -webkit-transform: translateZ(-800px) rotateY(90deg);
            // transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
            // -webkit-transform: translateZ(-160px) rotateY(87deg);
            // transform: translateZ(-160px) rotateY(87deg);
  }
  100% {
            // -webkit-transform: translateZ(0) rotateY(0);
            // transform: translateZ(0) rotateY(0);
    opacity: 1;
  }
}
