.result-container {
  display: flex;
  padding-top: 96px;
  padding-bottom: 120px;
  margin-left: 16vw;
}

.result-left {
  margin-right: 64px;
}

.result-cards {
  position: relative;
  min-width: 260px;
  height: 400px;
}

.first-result {
  img {
    width: 240px;
    height: 360px;
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    position: relative;
  }
}

.second-result {
  img {
    width: 240px;
    height: 360px;
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 6px;
    transform:rotate(-2deg);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    position: relative;
  }
}

.single-result {
  img {
    width: 240px;
    height: 360px;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    position: relative;
  }
  &.poster-large {
    img {
      width: 288px;
      height: 432px;
      left: -8px;
      top: 16px;
    }
  }
}

.result-actions {
  display: flex;
  justify-content: space-between;
  &.two-buttons {
    padding-left: 64px;
    padding-right: 64px;
  }
  &.three-buttons {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.action-label {
  padding-top: 4px;
  text-align: center;
}

.result-right {
  width: 100%;
  h2 {
    margin: 0;
  }
}

.result-right-top {
  background: url(image_path('backgrounds/ticket_background_top.svg'));
  height: 48px;
  background-size: cover;
}

.result-right-main {
  background-color: rgba(0,0,0, 0.33);
  padding-left: 56px;
  padding-right: 240px;
  &.confirmation {
    display: flex;
    min-height: 376px;
    justify-content: space-between;
    padding-right: 32px;
  }
}

.confirmation-details {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-width: 640px;
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-size: 32px;
  }
  h2 {
    text-transform: capitalize;
    line-height: 1.5em;
    font-weight: normal;
    font-size: 18px;
  }
}

.confirmation-header {

}

.confirmation-message {

}

.confirmation-admit-one {
  background: url(image_path('backgrounds/admit_one.svg'));
  background-size: cover;
  height: auto;
  min-width: 56px;
}

.result-right-bottom {
  background: url(image_path('backgrounds/ticket_background_bottom.svg'));
  height: 48px;
  background-size: cover;
  background-position: left bottom;
}


.film-header {
  overflow-x: hidden;
  overflow-y: scroll;
    &::-webkit-scrollbar {
    display: none;
    }
}

.film-details {
  display: flex;
  padding: 16px 0 16px 0;
}

.film-details-item {
  padding-right: 48px;
}

.film-cast {
  display: flex;
  margin-top: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 640px;
    &::-webkit-scrollbar {
    display: none;
    }
  .cast-member {
    width: 160px;
    p {
      padding-top: 8px;
      line-height: 1em;
    }
  }
}


.cast-icon {
  object-fit: cover;
  border-radius: 100%;
}

.cast-centered {
  text-align: center;
  width: 112px;
}
