<div class="achievements_container">
  <% @achievements.each do |achievement| %>
    <div class="achievement_card">
      <h3><%= achievement.name %></h3>
      <p><%= achievement.description %></p>
    </div>
  <% end %>
</div>










<br><br>
<hr>
<br><br>


<div>
  <% current_user.achievements.each do |joint_a| %>
    <%= joint_a.name %>
    <%= joint_a.description %>
  <% end %>
</div>
