<% @multiple_cards = false if @second_saved_movie == [] %>

<% if @render_static_page %>
<div class="no-saved-movies">
  <h1>you have no saved movies yet</h1>
    <div class="no-saved-movies-icon">
      <%= link_to root_path do %>
      <%= image_tag ("filter_icons/search.png") %>
      <% end %>
    </div>
  </div>
<% elsif @multiple_movies %>

  <%= render layout:"layouts/result_show", locals: {
    queried_actors: [],
    queried_directors: [],
    queried_genres: [],

    current_suggestion: @current_saved_movie,
    second_suggestion: @second_saved_movie,
    movie_director: @current_saved_movie.first.movie.director,
    starring_actors: @current_saved_movie.first.movie.starring_actors,

    # NOTE: if the number_of_buttons you specify is 2 or 3, you can delete the lines for buttons you don't need
    # e.g., if you need only two buttons, you can delete all lines that start with "third_button" and "fourth_button"
    number_of_buttons: 3,
    multiple_cards: @multiple_cards,

    first_button_path: remove_saved_movie_path(id: @current_saved_movie.first.id), remote:true,
    first_button_image: "icons/pass_action.svg",
    first_button_class: "pass-action",
    first_button_label: "remove",
    first_button_method: :get,

    second_button_path: pass_saved_movie_path(id: @current_saved_movie.first.id), remote: true,
    second_button_image: "icons/next_action.svg",
    second_button_class: "next-action",
    second_button_label: "next",
    second_button_method: :get,

    third_button_path: confirmation_path(movie_id: @current_saved_movie.first.movie_id), remote: true,
    third_button_image: "icons/watch_action.svg",
    third_button_class: "watch_action",
    third_button_label: "watch",
    third_button_method: :get,
    } do %>
  <% end %>

<% else %>
  <%= render layout:"layouts/result_show", locals: {
    queried_actors: [],
    queried_directors: [],
    queried_genres: [],

    current_suggestion: @current_saved_movie,
    movie_director: @current_saved_movie.first.movie.director,
    starring_actors: @current_saved_movie.first.movie.starring_actors,

    # NOTE: if the number_of_buttons you specify is 2 or 3, you can delete the lines for buttons you don't need
    # e.g., if you need only two buttons, you can delete all lines that start with "third_button" and "fourth_button"
    number_of_buttons: 2,
    multiple_cards: @multiple_cards,

    first_button_path: remove_saved_movie_path(id: @current_saved_movie.first.id), remote:true,
    first_button_image: "icons/pass_action.svg",
    first_button_class: "pass-action",
    first_button_label: "remove",
    first_button_method: :get,

    second_button_path: confirmation_path(movie_id: @current_saved_movie.first.movie_id), remote: true,
    second_button_image: "icons/watch_action.svg",
    second_button_class: "watch_action",
    second_button_label: "watch",
    second_button_method: :get,
    } do %>
  <% end %>

<% end %>
